@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

h1, h2, h3, h4, p {
    font-family: "Manrope", serif;
}

.columna {
    
    background-color: $color_fondo;
    animation: columnaBack 0.5s forwards;
    
}

.columna:hover {
    animation: columnaGo 0.5s forwards;
}

.cabezeraColumna {
    background-color: $color_2;
    color: white;
    padding-top: 1%;
    text-align: center;
    p {
        padding-bottom: 4%;
    }
}

.columna:hover .cabezeraColumna {
    animation: ani2 0.5s forwards;
}

.precioDiv{
    
    padding-top: 1%;
    text-align: center;
    color: $color_2;
    
}

.sin {
    margin: 0 !important;
    padding: 0 !important;
}

ul{
    li{
        list-style: none;
        
        
    }
}

a{
          text-decoration: none ;  
        }

.boton {
    background-color: $color_2;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    &:hover {
        background-color: $color_1;
        animation: botonGo 0.7s forwards;
    }
}

.parrafoColumna{
    padding-left: 22%;
    padding-top: 3%;
    padding-bottom: 3%;
    &:hover {
        animation: parrafoColumna 0.5s forwards;
    }
}

.listaDiv{
    padding-top: 5%;
    padding-bottom: 8%;
}

@keyframes columnaGo {
    0% {
        border: 1px solid $color_2;
        border-radius: 0;
    }
    100% {
        border: 3px solid $color_1;
        border-radius: 3%;
    }
}

@keyframes columnaBack {
    0% {
        border: 3px solid $color_1;
        border-radius: 3%;
    }
    100% {
        border: 1px solid $color_2;
        border-radius: 0;
    }
}



@keyframes ani2 {
    0% {
        background-color: $color_2;
        color: white;
        border-radius: 0;
    }
    100% {
        background-color: $color_1;
        color: white;
        border-radius: 2.5%;
    }
}

@keyframes botonGo {
    0% {
        scale: 1;
        opacity: 0.5;
        transform: rotate(0deg); ;
    }
    25% {
        scale: 1.1;
        opacity: 1;
        transform: rotate(8deg) translateX(10px); 
    }
    50% {
        scale: 1.1;
        opacity: 1;
        transform:  rotate(0deg) translateX(0px); ;
    }
    75% {
        scale: 1.1;
        opacity: 1;
        transform: rotate(-8deg) translateX(-10px); ;

    }
    100% {
        scale: 1;
        opacity: 0.5;
        transform: rotate(0deg); ;
    }
    
}

@keyframes parrafoColumna {
    0% {
        background-color: $color_fondo;
        color: $color_2;
        transform: scaleY(1);
    }
    50% {
        background-color: $color_1;
        color: white;
        transform: scaleY(1.05);
        font-weight: bold;
        opacity: 0.5;
    }
    100% {
        background-color: $color_1;
        color: white;
        transform: scaleY(1.1);
        font-weight: bolder;
    }
    
}