@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
h1, h2, h3, h4, p {
  font-family: "Manrope", serif;
}

.tituloH1 {
  color: #e3004f;
  font-weight: bolder;
  animation: textoH1 2s forwards;
  margin: 0 !important;
}

.tituloH2 {
  color: #54595F;
  font-weight: bolder;
  animation: textoH2 2s forwards;
  margin: 0 0 2% 0 !important;
}

.columna {
  background-color: #f7f5f1;
  animation: columnaBack 0.5s forwards;
}

.columna:hover {
  animation: columnaGo 0.5s forwards;
}

.cabezeraColumna {
  background-color: #54595F;
  color: white;
  padding-top: 1%;
  text-align: center;
}
.cabezeraColumna p {
  padding-bottom: 4%;
}
.cabezeraColumna .cabezeraColumna {
  animation: cabezeraBack 0.5s forwards;
}

.columna:hover .cabezeraColumna {
  animation: cabeceraGo 0.5s forwards;
}

.precioDiv {
  padding-top: 1%;
  text-align: center;
  color: #54595F;
}

.sin {
  margin: 0 !important;
  padding: 0 !important;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.boton {
  background-color: #54595F;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
}
.boton:hover {
  background-color: #e3004f;
  animation: botonGo 0.7s forwards;
}

.parrafoColumna {
  padding-left: 22%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.parrafoColumna:hover {
  animation: parrafoColumna 0.5s forwards;
}

.listaDiv {
  padding-top: 5%;
  padding-bottom: 8%;
}

.precioTexto {
  animation: precioBack 0.5s forwards;
}
.precioTexto:hover {
  animation: precioGo 0.5s forwards;
}

@keyframes columnaGo {
  0% {
    border: 1px solid #54595F;
    border-radius: 0;
  }
  100% {
    border: 3px solid #e3004f;
    border-radius: 3%;
  }
}
@keyframes columnaBack {
  0% {
    border: 3px solid #e3004f;
    border-radius: 3%;
  }
  100% {
    border: 1px solid #54595F;
    border-radius: 0;
  }
}
@keyframes cabeceraGo {
  0% {
    background-color: #54595F;
    color: white;
    border-radius: 0;
  }
  100% {
    background-color: #e3004f;
    color: white;
    border-radius: 2.5%;
  }
}
@keyframes cabezeraBack {
  0% {
    background-color: #e3004f;
    color: white;
    border-radius: 2.5%;
  }
  100% {
    background-color: #54595F;
    color: white;
    border-radius: 0;
  }
}
@keyframes botonGo {
  0% {
    scale: 1;
    opacity: 0.5;
    transform: rotate(0deg);
  }
  25% {
    scale: 1.1;
    opacity: 1;
    transform: rotate(8deg) translateX(10px);
  }
  50% {
    scale: 1.1;
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
  75% {
    scale: 1.1;
    opacity: 1;
    transform: rotate(-8deg) translateX(-10px);
  }
  100% {
    scale: 1;
    opacity: 0.5;
    transform: rotate(0deg);
  }
}
@keyframes parrafoColumna {
  0% {
    background-color: #f7f5f1;
    color: #54595F;
    transform: scaleY(1);
  }
  50% {
    background-color: #e3004f;
    color: white;
    transform: scaleY(1.05);
    font-weight: bold;
    opacity: 0.5;
  }
  100% {
    background-color: #e3004f;
    color: white;
    transform: scaleY(1.1);
    font-weight: bolder;
  }
}
@keyframes precioGo {
  0% {
    color: #54595F;
    transform: scale(1);
  }
  50% {
    color: #e3004f;
    transform: scale(1.05);
    font-weight: bold;
    opacity: 0.5;
  }
  100% {
    color: #e3004f;
    transform: scale(1.1);
    font-weight: bolder;
  }
}
@keyframes precioBack {
  0% {
    color: #e3004f;
    transform: scale(1.1);
  }
  100% {
    color: #54595F;
    transform: scale(1);
  }
}
@keyframes textoH1 {
  0% {
    transform: scale(1) translateX(-1000px);
  }
  85% {
    transform: scale(1.1) translateX(20px);
  }
  100% {
    transform: scale(1.1) translateX(0px);
  }
}
@keyframes textoH2 {
  0% {
    transform: scale(1) translateX(1000px);
  }
  85% {
    transform: scale(1.1) translateX(-20px);
  }
  100% {
    transform: scale(1.1) translateX(0px);
  }
}/*# sourceMappingURL=style.css.map */