h1{

    color: red;
}

.columna{

    border: 1px solid #e3004f;
    background-color: #f7f5f1;
    
}

.cabezeraColumna{

    background-color: #e3004f;
    color: white;
    padding: 10px;
    text-align: center;
}